*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  }
  body{
    min-height: 100vh;
    font-family: "poppins";
    overflow-x: hidden;
    
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    border: 7px dashed #0111a0;
    border-radius: 20px;
    font-size: 3rem;
    margin: 6vh;
    padding: 1vh 5vw;
  }
   .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .card {
    width: 400px;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }
    
  .city-img{
    width: 380px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
   
  .tour-details {
    margin: 20px 5px;
  }
  
  .tour-price {
    color: #1faa59;
    font-size: 1.3rem;
  }
  
  .tour-price::before {
    content: "₹ ";
  }
  
  .tour-name {
    font-size: 1.5rem;
  }
  .read-more {
    color: #12b0e2;
    cursor: pointer;
  } 
  .btn-red{
    color: black;
    background-color: #b4161b21;
  border: 1px solid #b4161b;
  font-weight: bold;
  font-size: 18px;
  padding: 0.5em;
  border-radius: 10px;
  transition: all 0.4s;
  cursor: pointer;
  margin-top: 18px;
  }
  .btn-red:hover{
    background-color: #b4161b;
    color: white;
    border: 1px solid #120102;
  }
  .refresh{

  }
  .refresh {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  .heading{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
  }
  .refresh-btn {
    border: 1px solid #fff;
    cursor: pointer;
    margin-top: 18px;
    padding: 10px 80px;
  }
  .refresh-btn:hover{
    background-color: #c0abac;
    color: black;
    border: 1px solid #120102;
  }